iframe {
    position: fixed;
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
}

.infocontacto {
    position: fixed;
    padding-left: 3em;
    width: 70%;
    height: 100%;
    left: 0;
    top: 0;
}

.alinearcontac{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(248, 237, 240, 0.6);
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}

.alinearcontac h1{
    font-size: 2.5em;
    padding-top: 0.5em;
    color: rgb(133, 49, 68);
}

.alinearcontac h3{
    padding-bottom: 2em;
}

#fotocontacto{
    width: 70%;
}

@media (max-width: 624px) {
    #fotocontacto{
        display: none;
    }
    .alinearcontac h1{
        font-size: 1.5em;
        padding-top: 0.5em;
        color: rgb(133, 49, 68);
    }
    .alinearcontac h3{
        padding-bottom: 2em;
        font-size: 1em;
    }
    iframe {
        position: fixed;
        width: 100%;
        height: 50%;
        top: 50%;
        left: 3em;
    }
    
    .infocontacto {
        position: fixed;
        padding-left: 3em;
        width: 100%;
        height: 50%;
        left: 0;
        top: 0;
    }
}
